{#
/**
 * @file entertainment_review.html.twig
 * Default theme implementation to present Entertainment review data.
 *
 * This template is used when viewing Entertainment review pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_entertainment_review()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('entertainment_review') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
